.card {
  transform: rotateZ(-1deg);
  margin: 3rem 1rem;
  img {
    width: 100%;
    height: auto;
  }
}

.content {
  background: #fff;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  top: -30px;
  left: -10px;

  .info {
    padding: 1rem;
  }

  h4 {
    margin: 4px 0;
    text-transform: uppercase;
  }
}

.actions {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;

  a {
    color: #fff;
    background: #f01b29;
    padding: 16px 24px;
    text-decoration: none;
  }
}
